* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(31, 7, 7);
  box-sizing: border-box;
  place-items: center;
  height: 100vh;
  align-items: center;
  padding: 20px;
  width: 60%;
  margin: auto;
}
main {
  display: grid;
  grid-template-areas:
    "a a b"
    "c d d"
    "c e e";
  gap: 15px;
}
main div {
  padding: 2em;
  text-align: center;
}
.item-a {
  background-color: rgb(199, 8, 97);
  grid-area: a;
}
.item-b {
  background-color: orange;
  grid-area: b;
}
.item-c {
  background-color: green;
  grid-area: c;
}

.item-d {
  background-color: aquamarine;
  grid-area: d;
}
.item-e {
  background-color: aqua;
  grid-area: e;
}
