* {
  margin: 0px;
  padding: 0%;
  @import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Poppins:wght@300;400;500;600;700&display=swap");

  font-family: "Lexend Deca", sans-serif;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
main {
  background-color: hsla(0, 0%, 100%, 0.75);
  padding: 20px;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 70%;
}
.column {
  width: 100%;
  display: flex;
}
.logo1 {
  background-color: hsl(31, 77%, 52%);
  display: block;
  color: white;
  font-size: 15px;
  padding: 20px;
}
.logo1 button {
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
}
.logo2 {
  background-color: hsl(184, 100%, 22%);
  display: block;
  color: white;
  font-size: 15px;
  padding: 20px;
}
.logo2 button {
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: color- (0, 0%, 95%);
  color: hsl(184, 100%, 22%);
}
.logo3 {
  background-color: hsl(179, 100%, 13%);
  display: block;
  color: white;
  font-size: 15px;
  padding: 20px;
}
.logo3 button {
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: hsl(0, 0%, 95%);
  color: hsl (179, 100%, 13%);
}
@media screen and (max-width: 375px) {
  .column {
    float: left;
    display: block;
  }
}
@media screen and (max-width: 1440px) {
button {
  background-color: white;
